/* Flip animation styles */
.cert-card-container {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  min-height: 350px;
}

.cert-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.cert-card-container:hover .cert-card-inner {
  transform: rotateY(180deg);
}

.cert-card-front,
.cert-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10px;
}

.cert-card-front {
  background-color: transparent;
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.cert-card-back {
  background-color: #1a1a2e; /* matches standard portfolio theme dark elements */
  color: white;
  transform: rotateY(-180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459);
}

.cert-back-content {
  padding: 20px;
}
.cert-back-content h4 {
  margin-bottom: 20px;
  color: #c770f0;
}
